<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Custom Fonts -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/stylish-portfolio.min.css" rel="stylesheet">

  </head>

  <body id="page-top">





     <!-- Try Section -->
    <section class="bg-primary mb-0" id="try">
      <div class="container">
        <h2 class="text-center text-white">Paste Your Description Here</h2>
        <hr class="star-light mb-5">
              <div class="col-sm m-3 text-center">
                    <form action="/output" method="POST" id="user_input">
                          <input class="form-control" type="text" id="user_input" name='user_input' placeholder="e.g. blablabla">
                    </form>
              </div>
       <div class="row justify-content-center">
             <button type="submit" class="btn btn-secondary btn-lg" form="user_input">Go!</button>
      </div>
      
      {% if my_form_result=='Empty' %}
      <div class="row mt-4 justify-content-center">
            <h4 class="text-danger text-center text-uppercase">You did not type anything!</h4>
      </div>

      {% elif my_form_result=='NotEmpty' %}     

      <div class="row mt-4 justify-content-center">
            <h4 class="text-light text-center text-uppercase">We found something!</h4>
      </div>
      <div>
            <div>
                   <ul class="list-group">
                   <h4>
                   {% for i,j in my_output %}
                   <li class="list-group-item d-flex justify-content-between align-items-center active">
                             <b>{{ i }}, {{ j }}</b> 
                   {% endfor %}          
                            <!--<span class="badge badge-primary badge-pill">{{my_number}} followers</span>-->
                          </li>
                        </h4>
                  </ul>     
      </div>
      </div>
            <div class="col">
            <img src="{{ url_for('static', filename = my_img_name) }}" width=1280 height=1000> 
      </div> 
      {% else %}
      {% endif %}      
      </div>
    </section>
    

  
    
 

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/stylish-portfolio.min.js"></script>

  </body>

</html>
